.swiper {
  width: 300px;
  height: 300px;
}
.swiper-container {
  width: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  z-index: 1000;
}
