.carousel-img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  display: inline-block;
  background: linear-gradient(
    to right,
    #151515 0%,
    rgba(21, 21, 21, 0) 100%
  ); /* W3C */
}
:root {
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: rgb(94, 155, 100);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.neon-button {
  font-size: 15px;

  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  border: var(--clr-neon) 3px solid;
  padding: 5px;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em rgba(154, 153, 153, 0.871), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

  position: relative;
}

.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
  color: var(--clr-bg);
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 0;
}
