* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 100vw;
  background: #444;
}

.card {
  position: relative;
  width: 25vw;
  height: 23vh;
  background: #000;
  border-radius: 8px;
  /* overflow: hidden; */
}
.card:hover {
  height: 100vh;
  margin-top: 200px;
  margin-bottom: 20px;
  width: 80vw;
}

.card .lines {
  position: absolute;
  inset: 0;
  background: #000;
  overflow: hidden;
}

.card .lines::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 120px;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    transparent,
    #45f3ff,
    #45f3ff,
    #45f3ff,
    transparent
  );
  /* transform-origin: bottom right; */
  animation: animate 4s linear infinite;
}
.card:hover .lines::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  height: 920px;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    transparent,
    #45f3ff,
    #45f3ff,
    #45f3ff,
    transparent
  );
  /* transform-origin: bottom right; */
  animation: animate 10s linear infinite;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.card .lines::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: #292929;
}

.card .imgBx {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 10vw;
  height: 20vh;
  background: #000;
  transition: 0.5s;
  z-index: 10;
  overflow: hidden;
}

.card:hover .imgBx {
  width: 45vw;
  height: 35vh;
}

.card .imgBx::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 150px;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    transparent,
    #ff3c7b,
    #ff3c7b,
    #ff3c7b,
    transparent
  );
  /* transform-origin: bottom right; */
  animation: animate2 10s linear infinite;
}
.card:hover .imgBx::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 550px;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    transparent,
    #ff3c7b,
    #ff3c7b,
    #ff3c7b,
    transparent
  );
  /* transform-origin: bottom right; */
  animation: animate2 10s linear infinite;
}

@keyframes animate2 {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

.card .imgBx::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: #292929;
}

.card .imgBx img {
  position: absolute;
  top: 10px;
  left: 10px;
  inset: 3px;
  z-index: 1;
  width: calc(100% - 10px);
  height: calc(100% - 5px);
  filter: grayscale(1);
}

.card .content {
  position: absolute;
  width: 95%;
  height: 100%;
  overflow: hidden;
}
.card .content .details {
  padding-top: 30px;
  transition: 0.5s;
  color: #45f3ff;
  transform: translateY(170px);
}
.card:hover .content .details {
  transform: translateY(190px);
}

.card .content .details .data h3 {
  font-weight: 600;
  line-height: 1.2em;
}
@media only screen and (max-width: 1000px) {
  .card:hover .content .details {
    height: 100%;
    transition: 0.5s;
    color: #45f3ff;
  }
}

@media only screen and (max-width: 830px) {
  .card:hover .imgBx {
    width: 50vw;
    height: 30vh;
  }
  .card .content .details {
    padding-top: 0px;
    transition: 0.5s;
    color: #45f3ff;
    transform: translateY(170px);
  }
}
@media only screen and (max-width: 801px) {
  .card:hover {
    height: 100vh;
    margin-top: 200px;
    margin-bottom: 20px;
    width: 90vw;
  }
  .card .content .details {
    padding-top: 0px;
    transition: 0.5s;
    color: #45f3ff;
    transform: translateY(170px);
  }
  .card:hover .content .details {
    transform: translateY(190px);
  }
}
@media only screen and (max-width: 600px) {
  .card:hover {
    height: 100vh;
    margin-top: 200px;
    margin-bottom: 20px;
    width: 100vw;
  }
  .card .content .details {
    padding-top: 0px;
    transition: 0.5s;
    color: #45f3ff;
    transform: translateY(170px);
  }
  .card:hover .content .details {
    transform: translateY(190px);
  }
}
@media only screen and (max-width: 424px) {
  .card:hover {
    height: 120vh;
    width: 100vw;
  }
}
